@font-face {
    font-family:'gobold';
    src: url('../fonts/gobold-regular-webfont.ttf');
    src: url('../fonts/gobold-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gobold-regular-webfont.woff2') format('woff2'),
         url('../fonts/gobold-regular-webfont.woff') format('woff'),
         url('../fonts/gobold-regular-webfont.ttf') format('truetype'),
         url('../fonts/gobold-regular-webfont.svg#latobold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'latobold';
    src: url('../fonts/Lato-Bold.ttf');
}
@font-face {
    font-family: 'latobolditalic';
    src: url('../fonts/Lato-BoldItalic.ttf');
}
@font-face {
    font-family: 'latoitalic';
    src: url('../fonts/Lato-Italic.ttf');
}
@font-face {
    font-family: 'latolightitalic';
    src: url('../fonts/Lato-LightItalic.ttf');
}
@font-face {
    font-family: 'latolight';
    src: url('../fonts/Lato-Light.ttf');
}
@font-face {
    font-family: 'latoregular';
    src: url('../fonts/Lato-Regular.ttf');
}
@font-face {
    font-family: 'latomedium';
    src: url('../fonts/Lato-MediumItalic.ttf');
}


